<!DOCTYPE html>
<html>
<head>
  <title>Restauranteur</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Tinos" rel="stylesheet">
</head>
<body>
  <h4>Login</h4>
  <form action="/auth/login" method="POST"> <!-- link to index??? -->
    Username: <input type="text" name="username" placeholder="username"><br>
    Password: <input type="password" name="password"><br>
    <button type="submit">Login</button>
  </form><br>

  <a href="/auth/register"><button>No login? Register</button></a>  


  <h4><%= message%></h4>

</body>
</html>

