  <%- include('../partials/header'); -%>
<div class="container">
<main class="main">
  <h4>Login</h4>
  <form action="/auth/login" method="POST"> <!-- link to index??? -->
    Username: <input class="loginPage" type="text" name="username" placeholder="username"><br>
    Password: <input class="loginPage" type="password" name="password" placeholder="password"><br>
    <button type="submit">Login</button>
  </form><br>

  <a href="/auth/register"><button>No login? Sign up!</button></a>  


  <h4><%= message%></h4>


  <%- include('../partials/footer'); -%>
</main>
</div>
</body>
</html>

