<!DOCTYPE html>
<html>
<head>
  <title>Restauranteur</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Tinos" rel="stylesheet">
</head>
<body>

<!-- after MVP add emails -->
<!-- password reset email -->


Profile Page




<%- include('../partials/footer'); -%>

</body>
</html>