<!DOCTYPE html>
<html>
<head>

  <title>Restauranteur</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Tinos" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
</head>
<body>
<header class="headerFixed">
<section class="navLogins"> 
  <div class="profile">
  <h5><a href="items/new">Admin</a></h5>
  <h5><a href="/auth/profile">Profile</a></h5>
  </div>
  <% if (loggedIn) { %>
    <div class="profile">
  <h5 class="username">Welcome <%=username%></h5>
  </div>
    <div class="logout">
     <h5><a href="/auth/logout">Logout</a></h5>
  <% } else { %>
    <h5><a href="/auth/login">Login</a></h5><br>
    <h5><a href="/auth/register">Sign up</a></h5>
      <% } %>
  </div>
</section>

  <h1 class="appName">The Restauranteur</h1>
  
  <nav class="navBar">
    <a href="/">Home</a>
    <a href="/orders">Menu</a>
    <a href="/orders/cart">Cart</a>
  </nav>


</header>




