<!DOCTYPE html>
<html>
<head>

  <title>Restauranteur</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Tinos" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
</head>
<body>
<header>
<section> 
<a href="items/new">Admin</a>
  <a href="/auth/profile">Profile</a>
  <% if (loggedIn) { %>
    <%=username%> <a href="/auth/logout">Logout</a>
  <% } else { %>
    <a href="/auth/login">Login</a><br>
    <a href="/auth/register">Register</a>
      <% } %>
</section>

  <h1>The Restauranteur</h1>
  
  <nav>
    <a href="/">Home</a>
    <a href="/orders">Menu</a>
    <a href="/orders/cart">Cart</a>
  </nav>


</header>




