<!DOCTYPE html>
<html>
<head>
  <title>header</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header>
<section> 
  <a href="/items/add">Profile</a>
  <% if (loggedIn) { -%>
    <%=username%> <a href="/auth/logout">Logout</a>
  <% } else { -%>
    <a href="/auth/login">Login</a><br>
    <a href="/auth/register">Register</a>
  <% } -%>
</section>

  
  <nav>
    <a href="/">Home</a>
    <a href="/items">Menu</a>
    <a href="/orders">Cart</a>

  </nav>

  <h1>Restauranteur</h1>

</header>




