<!DOCTYPE html>
<html>
<head>
  <title>header</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header>
<section> 
  <a href="/add">Profile</a>
  <a href="/auth/login">login</a>
  <a href="/auth/register">register</a>

  <h1>Restaurateur</h1>
  
  <nav>
    <a href="/">Home</a>
    <a href="/items">Menu</a>
    <a href="/orders">Cart</a>
    <a href="/logout">Logout</a>
  </nav>


</header>
