
<%- include('partials/header'); -%>
<div class="container">

<main class="main">

<h1> Your Order History</h1>
<h5>****Add reorder button that connects to checkout****</h5>
    <section>
      <div class='orderHistory'>  
        <% for(let i = 0; i < orders.length; i++) { %>
          <h3><%=orders[i]%></h3>
       <%}%>
      </div>
    </section>


</main>
</div>
<end class="footer">
  SITE © 2018 by Jared & Steve 
</end>

<%- include('partials/footer'); -%>