<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <nav>
    <ul>
      <h4>Login or register</h4>
      <li><a href="/login">Login</a></li><br>
      <li><a href="/register">Register</a></li>
    </ul>
  </nav>
</body>
</html>