<%- include('../partials/header'); -%>

<h2>Your Cart</h2>
          
      
    <main>
      <section>
      <ul>
        <% for(let i = 0; i < orders.length; i++){ %>
          <li>
          <h1><%=orders[i].name%></h1>
          

          <form action="/orders/<%=orders._id%>?_method=DELETE" method="post">
              <input type="submit" value="Delete item"/>
          </form>
          
        <% } %>
      </ul>
      </section>



    </main>


<%- include('../partials/footer'); -%>