<%- include('../partials/header'); -%>

<h2>Your Cart</h2>

    <main>
      <section>
          <h1><%=order.name%></h1>
          <small>by: <a href="/orders/"><%=order%></a></small>
      </section>
      <section>
        <ul>
          <form action="/orders/?_method=DELETE" method="post">
              <input type="submit" value="Delete item"/>
          </form>
          </ul>
      </section>

    </main>


<%- include('../partials/footer'); -%>