<%- include('../partials/header'); -%>

<h2>Your Cart</h2>


<ul>
      <% for (let i = 0; i < orders.length; i++) { %>
          <li>
            <%=orders[i].name%>

            <form action="/orders/<%=orders[i].id%>?_method=DELETE" method="POST" type="submit">
              <button>Remove from Cart</button> 
            </form>
          </li>
      <% } %>
  </ul>




<%- include('../partials/footer'); -%>