<%- include('../partials/header'); -%>

<h2>Your Cart</h2>


<ul>
      <% for (let i = 0; i < orders.length; i++) { %>
          <li>
            <%=orders[i].name%>

            <button action="/orders/<%=orders.id%>?_method=DELETE" method="POST' type="submit">Remove from Cart</button> 

          </li>
      <% } %>
  </ul>


<%- include('../partials/footer'); -%>