
<%- include('../partials/header'); -%>
<div class="container">
<main class="main">

Order Complete!
    <a href="/">View Order History</a>
    <a href="/orders">Place Another Order</a>
</main> 
</div>
<end class="footer">
  SITE © 2018 by Jared & Steve 
</end>

<%- include('../partials/footer'); -%>
