<%- include('../partials/header'); -%>

<h2>Admin Add to Menu Page</h2>



<form action="/items" method="post">
    <input type="text" name="name" placeholder="item name">
    <input type="url" name="image" placeholder="image url">
    <textarea name="body" placeholder="item description"></textarea>
    <input type="number" name="price" placeholder="price">
    <input type="submit" value="Add Item to Menu">
</form>

<h1>Name: <%= user.username%></h1>
<!-- name, photo, cc info -->



<%- include('../partials/footer'); -%>

<!-- if statement for regular profile vs admin -->
