  <%- include('../partials/header'); -%>

  <h1>Menu</h1>

    <h2>Appetizers</h2>

  <ul>
      <% for (let i = 0; i < items.length; i++) { %>
          <li>
              
              <form action="/orders" method="POST">
                <input type="hidden" name="<%=items[i].name %>"><%=items[i].name %></input>
                <button class="add" type="submit">add to order</button>     
              </form>
            </a>
          </li>
      <% } %>
  </ul>

    <h2>Entrees</h2>

    <h2>Dessert</h2>

    <h2>Drinks</h2>






  <%- include('../partials/footer'); -%>