  <%- include('../partials/header'); -%>

  <h1>this is the menu page</h1>


    <button type="hidden" value="newOrder">New Order</button>

    <h2>Appetizers</h2>

  <ul>
      <% for (let i = 0; i < items.length; i++) { %>
          <li>
              
              <form action="/orders" method="POST">
                <input type="hidden" name="<%=items[i].name %>"><%=items[i].name %></input>
                <button class="add" type="submit">add to order</button>     
              </form>
            </a>
          </li>
      <% } %>
  </ul>











  <%- include('../partials/footer'); -%>